body{
  background-color:#c4c4c4;
	padding:10px;
 line-height: 1.6;
}
#pageLogin{
margin-top:50px;
padding:20px;
width:400px;
background-color:yellow;
margin-left:auto;
margin-right:auto;
}

#account{
  text-align: right;
}
.indexAdmin{
 line-height: 1.6;
}

table{
 border-collapse:separate; 
margin:auto;
}

#login{
margin:auto;
}
